{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/sortbuttons.js' %}"></script>



    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" >
    <!-- Favicon -->
    <link rel="icon" href="{% static "images/popcorncool.png" %}" type="image/gif" sizes="16x16">


</head>

<body id="body">

    <!-- Navbar -->
    <div class="mt-0 mb-2">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top " style="background: rgb(135,3,3);">

            <a class="navbar-brand" href="#">WhatsFlixin</a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if nbar == 'movie' %}active{% endif %}" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Movies
                    </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="/popular-movie">Popular</a>
                          <a class="dropdown-item" href="/top-rated-movie">Top Rated</a>
                        </div>
                  </li>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if nbar == 'tv' %}active{% endif %}" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      TV
                    </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="/popular-tv">Popular</a>
                          <a class="dropdown-item" href="/top-rated-tv">Top Rated</a>
                        </div>
                  </li>


                    <!--
                    <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                    -->

                </ul>
            </div>
        </nav>
    </div>


    <!-- Opening Jumbotron for website-->
    <div class="jumbotron text-white" style="width: 75%; margin-left: auto; margin-right: auto; background: rgba(33,2,2,0.9);">
        <img src="{% static "images/logo.png" %}" alt="WhatsFlixin" class="img-fluid w-25">

{#        <h1 class="display-4">WhatsFlixin</h1>##}

        <p class="lead">The place to visit when wondering what to watch on Netflix.</p>
        <p>This website is under low maintenance</p>

        <hr class="my-4">

        <p>Top rated and Most popular movies from IMDB that are available on Netflix to watch.</p>

    </div>


    <div id="allitems">
    {% block content %}

    {% endblock content %}
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small blue  text-white" style="background: linear-gradient(to top, rgba(77, 0, 0,1) 0%, rgba(0, 0, 0,0) 100%);">

        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://whatsflixin.com/"> WhatsFlixin.com</a>
        </div>

    </footer>



</body>
</html>