
{% load static %}
<!doctype html>
<html lang="en">

<head>
        <div id="overlay"><span class="spinner"></span></div>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7YYGY7E714"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-7YYGY7E714');
    </script>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" >
    <!-- Favicon -->
    <link rel="icon" href="{% static "images/popcorncool.png" %}" type="image/gif" sizes="16x16">



</head>

{% include "navbar.html" %}


<body>


    <!-- Opening Jumbotron for website-->
    <div class="jumbotron text-white" style="width: 75%; margin-left: auto; margin-right: auto; background: rgba(33,2,2,0.9);">
        <img src="{% static "images/logo.png" %}" alt="WhatsFlixin" class="img-fluid w-25">

{#        <h1 class="display-4">WhatsFlixin</h1>##}

        <p class="lead">The place to visit when wondering what to watch on Netflix.</p>
        <p>This website is under low maintenance</p>
        <p>Email me for bugs & features: info@whatsflixin.com 😊</p>

        <hr class="my-4">

        <p>Top rated and Most popular movies from IMDB that are available on Netflix to watch.</p>

    </div>




    {% block content %}

    {% endblock content %}



</body>


    <!-- Footer -->
    <footer class="page-footer font-small blue  text-white" style="background: linear-gradient(to top, rgba(77, 0, 0,1) 0%, rgba(0, 0, 0,0) 100%);">

        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://whatsflixin.com/"> WhatsFlixin.com</a>
        </div>

    </footer>




</html>
