
        <div class="container text-white mb-5 pt-1 pb-1 border border-dark rounded-lg  " style="background:rgba(255,0,0,0.5)" >
            <div class="row ">
                <div class="col-xl-1 " style="opacity:1">
                    <p>Sort by:</p>
                </div>


            <div class="col-xl-1  " style="opacity: 1">



                    <button type="button" id="rank_button" class="btn btn-danger  {% if button_disabled == 'rank' %}disabled{%  endif %}" value="rank">Ranking</button>

                </div>
                <div class="col-xl-1 " style="opacity: 1">



                    <button type="button" id="avail_button" class="btn btn-danger  {% if button_disabled == 'avail' %}disabled{%  endif %}" value="avail" >Region</button>


                </div>
                <div class="col-xl-1 " style="opacity: 1">


                    <button  type="button" id="reldate_button" class="btn btn-danger  {% if button_disabled == 'reldate' %}disabled{%  endif %}" value="reldate" >Date</button>

                </div>


                 <div class="col-xl-1 mt-1">


                    <button type="button" id="arrow_button" class="btn btn-success btn-sm " value="{% if arrow_pos == 'up' %}up{% else  %}down{%  endif %}">
                        <span style="color: {% if arrow_pos == 'up' %}white{% else  %} gray {%  endif %}">▲</span>
                        <span style="color: {% if arrow_pos == 'down' %}white{% else  %} gray  {%  endif %}">▼</span>
                    </button>

                 </div>


        </div>
        </div>


<script>

    function loading_on() {
        document.getElementById("overlay").style.display = "block";
    }

    function loading_off() {

        document.getElementById("overlay").style.display = "none";
    }

    $("#rank_button").on("click", function (e) {
        loading_on()
        e.preventDefault();

        $.ajax({
            type: 'POST',
            data: {
                button_post: $("#rank_button").val(),

                arrow: $("#arrow_button").val(),
                reldate: $("#reldate_button").attr("class"),
                avail: $("#avail_button").attr("class"),
                rank: $("#rank_button").attr("class"),
                csrfmiddlewaretoken: "{{ csrf_token }}",

                action: 'post'
            },
            success: function (data) {
                loading_off()
                $("body").html(data);
                $('.dropdown-toggle').dropdown();


            },
        });
        return false;


    });


    $("#reldate_button").on("click", function (e) {
        loading_on()
        e.preventDefault();

        $.ajax({
            type: 'POST',
            data: {
                button_post: $("#reldate_button").val(),

                arrow: $("#arrow_button").val(),
                reldate: $("#reldate_button").attr("class"),
                avail: $("#avail_button").attr("class"),
                rank: $("#rank_button").attr("class"),
                csrfmiddlewaretoken: "{{ csrf_token }}",
                action: 'post'
            },
            success: function (data) {
                loading_off()
                $("body").html(data);
                $('.dropdown-toggle').dropdown();

            },
        });
        return false;
    });

    $("#avail_button").on("click", function (e) {
        loading_on()
        e.preventDefault();
        $.getJSON('https://api.ipify.org?format=jsonp&callback=?', function (data) {

            console.log(JSON.stringify(data, null, 2).ip);
            var ip = jQuery.parseJSON(JSON.stringify(data, null, 2))
            var ip = ip.ip
            console.log(ip)


            $.getJSON("https://cors-anywhere.herokuapp.com/http://www.geoplugin.net/json.gp?ip=" + ip, function (response) {
                console.log(response.geoplugin_countryName);
                $.ajax({
                    type: 'POST',
                    data: {
                        button_post: $("#avail_button").val(),

                        arrow: $("#arrow_button").val(),
                        reldate: $("#reldate_button").attr("class"),
                        avail: $("#avail_button").attr("class"),
                        rank: $("#rank_button").attr("class"),
                        country: response.geoplugin_countryName,
                        csrfmiddlewaretoken: "{{ csrf_token }}",

                        action: 'post'
                    },
                    success: function (data) {
                        loading_off()

                $("body").html(data);
                $('.dropdown-toggle').dropdown();


                    },
                });
            });
        });
        return false;

    });

    $("#arrow_button").on("click", function (e) {
        loading_on()
        e.preventDefault();

        $.ajax({
            type: 'POST',
            data: {
                arrow_post: $("#arrow_button").val(),
                reldate: $("#reldate_button").attr("class"),
                avail: $("#avail_button").attr("class"),
                rank: $("#rank_button").attr("class"),
                csrfmiddlewaretoken: "{{ csrf_token }}",
                country: "{{ country }}",
                action: 'post',

            },
            success: function (data) {
                $("body").html(data);
                $('.dropdown-toggle').dropdown();

                loading_off()

            },
        });
        return false;


    });






</script>
