
        <div class="container text-white mb-3  border border-dark rounded-lg" id="menubar" style="background:rgb(117,0,0);" >
            <div class="row">

            <div class="d-inline-flex">

                <div class="col mt-2 ml-1" style="opacity:1;-ms-flex: 0 0 74px;flex: 0 0 74px;">
                    <p style="font-size: small">List by:</p>
            </div>


            <div class="flex-column mt-1 " >

                    <div class="dropdown">
                  <button style="font-size: small" class="btn btn-secondary dropdown-toggle" type="button" id="listbymenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if nbar == 'popm' or nbar == 'poptv' %}IMDB Popularity{%  endif %}
                    {% if nbar == 'topm' or nbar == 'toptv' %}IMDB Top-Rated{%  endif %}
                  </button>
                    <div class="dropdown-menu" id="listby">
                        <a class="dropdown-item {% if nbar == 'popm' or nbar == 'poptv' %}disabled{%  endif %}" href="../popular#pagetitle">IMDB Popularity</a>
                        <a class="dropdown-item {% if nbar == 'topm' or nbar == 'toptv' %}disabled{%  endif %}" href="../top-rated#pagetitle">IMDB Top-Rated</a>
                    </div>
                    </div>

                </div>
            </div>

            <div class="d-inline-flex">

                <div class="col mt-2 " style="opacity:1;-ms-flex: 0 0 74px;flex: 0 0 74px;">
                    <p style="font-size: small">Sort by:</p>
            </div>


            <div class="flex-column mt-1 " >

                    <div class="dropdown">
                  <button style="font-size: small" class="btn btn-secondary dropdown-toggle" type="button" id="sortbymenu" value="{% if button_disabled == 'Ranking' %}Ranking{%  endif %}{% if button_disabled == 'Release Date' %}Release Date{%  endif %}{% if button_disabled == 'IMDB Rating' %}IMDB Rating{%  endif %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    {% if button_disabled == 'Ranking' %}Ranking{%  endif %}
                    {% if button_disabled == 'Release Date' %}Release Date{%  endif %}
                    {% if button_disabled == 'IMDB Rating' %}IMDB Rating{%  endif %}
                  </button>
                    <div class="dropdown-menu" id="sortby">
                        <a class="dropdown-item {% if button_disabled == 'Ranking' %}disabled{%  endif %}" href="#">Ranking</a>
                        <a class="dropdown-item {% if button_disabled == 'IMDB Rating' %}disabled{%  endif %}" href="#">IMDB Rating</a>
                        <a class="dropdown-item {% if button_disabled == 'Release Date' %}disabled{%  endif %}" href="#">Release Date</a>
                    </div>
                    </div>

                </div>

                 <div class="col mt-1 mr-2 float-xl-left" style="opacity: 1;-ms-flex: 0 0 65;flex: 0 0 65px;">


                    <button type="button" id="arrow_button" class="btn btn-success btn-sm " value="{% if arrow_pos == 'up' %}up{% else  %}down{%  endif %}">
                        <span style="font-size: small;color: {% if arrow_pos == 'up' %}white{% else  %} #2f2f2f {%  endif %}">↑</span>
                        <span style="font-size: small;color: {% if arrow_pos == 'down' %}white{% else  %} #2f2f2f  {%  endif %}">↓</span>
                    </button>

                 </div>
            </div>

                    <div class="d-inline-flex">
                     <div class="col mt-2" style="opacity:1;-ms-flex: 0 0 82px;flex: 0 0 82px;">
                            <p style="font-size: small">Filter by:</p>
                    </div>
                        <div class="col mt-1" style="opacity: 1;-ms-flex: 0 0 100px;flex: 0 0 100px;">
                            <button title="Filter content by your region" data-toggle="tooltip" type="button" id="avail_button" class="btn btn-danger {% if region_filter %}disabled{%  endif %}" value="avail" style="font-size: 13px;background-color: {% if region_filter %}#808080{%  endif %}">Availability</button>
                        </div>

                    </div>



        </div>
        </div>




<script>

    function loading_on() {
        document.getElementById("overlay").style.display = "block";
    }

    function loading_off() {

        document.getElementById("overlay").style.display = "none";
    }

    $("#sortby a").on("click", function (e){
        loading_on();
        e.preventDefault();
        var txt= ($(this).text());
        console.log($("#sortbymenu").val());
        console.log(txt);
        $.ajax({
            type: 'POST',
            data: {
                button_post: ($(this).text()),

                last_pressed: $("#sortbymenu").val(),
                arrow: $("#arrow_button").val(),
                avail: $("#avail_button").attr("class"),
                csrfmiddlewaretoken: "{{ csrf_token }}",
                country: "{{ country }}",
                action: 'post'
            },
            success: function (data) {
                loading_off()
                $("body").html(data);
                $('.dropdown-toggle').dropdown();


            },
        });
        return false;


    });
        $("#arrow_button").on("click", function (e) {
        loading_on()
        e.preventDefault();

        $.ajax({
            type: 'POST',
            data: {

                arrow_post: $("#arrow_button").val(),
                last_pressed: $("#sortbymenu").val(),
                avail: $("#avail_button").attr("class"),
                csrfmiddlewaretoken: "{{ csrf_token }}",
                country: "{{ country }}",
                action: 'post',

            },
            success: function (data) {
                $("body").html(data);
                $('.dropdown-toggle').dropdown();

                loading_off()

            },
        });
        return false;


    });

            $("#avail_button").on("click", function (e) {
        loading_on()
        e.preventDefault();
        $.getJSON('https://api.ipify.org?format=jsonp&callback=?', function (data) {

            console.log(JSON.stringify(data, null, 2).ip);
            var ip = jQuery.parseJSON(JSON.stringify(data, null, 2))
            var ip = ip.ip
            console.log(ip)


            $.getJSON("https://cors-anywhere.herokuapp.com/http://www.geoplugin.net/json.gp?ip=" + ip, function (response) {
                console.log(response.geoplugin_countryName);
                $.ajax({
                    type: 'POST',
                    data: {
                        button_post: $("#avail_button").val(),
                        last_pressed: $("#sortbymenu").val(),

                        avail: $("#avail_button").attr("class"),



                        country: response.geoplugin_countryName,
                        csrfmiddlewaretoken: "{{ csrf_token }}",

                        action: 'post'
                    },
                    success: function (data) {
                        loading_off();

                        $("body").html(data);

                        $('.dropdown-toggle').dropdown();


                    },
                });
            });
        });
        return false;

    });
    {#$("#rank_button").on("click", function (e) {#}
    {#    loading_on()#}
    {#    e.preventDefault();#}
    {##}
    {#    $.ajax({#}
    {#        type: 'POST',#}
    {#        data: {#}
    {#            button_post: $("#rank_button").val(),#}
    {##}
    {#            arrow: $("#arrow_button").val(),#}
    {#            reldate: $("#reldate_button").attr("class"),#}
    {#            avail: $("#avail_button").attr("class"),#}
    {#            rank: $("#rank_button").attr("class"),#}
    {#            csrfmiddlewaretoken: "{{ csrf_token }}",#}
    {##}
    {#            action: 'post'#}
    {#        },#}
    {#        success: function (data) {#}
    {#            loading_off()#}
    {#            $("body").html(data);#}
    {#            $('.dropdown-toggle').dropdown();#}
    {##}
    {##}
    {#        },#}
    {#    });#}
    {#    return false;#}
    {##}
    {##}
    {#});#}













</script>
