

        <div class="container text-white mb-5 pt-1 pb-1 border border-dark rounded-lg  " style="background:rgba(255,0,0,0.5)" >
            <div class="row">
                <div class="col-sm-1 pt-2" style="opacity:1">
                    <p>Sort by:</p>
                </div>


            <div class="col-sm-1 pt-1 pl-3" style="opacity: 1">

                    <form id="rank_forum">
                     {% csrf_token %}
                    <button type="submit" id="rank_button" class="btn btn-danger rank_button {% if button_disabled == 'rank' %}disabled{%  endif %}" value="rank">Ranking</button>
                    </form>

                </div>
                <div class="col-sm-1 pl-1 pt-1" style="opacity: 1">

                    <form id="avail_forum">
                     {% csrf_token %}
                    <button type="submit" id="avail_button" class="btn btn-danger avail_button {% if button_disabled == 'avail' %}disabled{%  endif %}" value="avail" >Availability</button>
                    </form>

                </div>
                <div class="col-sm-1 pl-2 pt-1" style="opacity: 1">

                    <form id="reldate_forum">
                     {% csrf_token %}
                    <button  type="submit" id="reldate_button" class="btn btn-danger reldate_button {% if button_disabled == 'reldate' %}disabled{%  endif %}" value="reldate" >Date</button>
                    </form>

                </div>


                 <div class="col-sm-1 pl-2 pt-2">
                 <form id="arrow_form">
                    {% csrf_token %}
                    <button type="submit" id="arrow_button" class="btn btn-success btn-sm arrow_button" value="{% if arrow_pos == 'up' %}up{% else  %}down{%  endif %}">
                        <span style="color: {% if arrow_pos == 'up' %}white{% else  %} gray {%  endif %}">▲</span>
                        <span style="color: {% if arrow_pos == 'down' %}white{% else  %} gray  {%  endif %}">▼</span>

                    </button>
                 </form>
                 </div>


        </div>
        </div>



