{% extends 'main.html' %}
    {% block content %}
        <title>WhatsFlixin - TopRated TV</title>
        {% load static %}
        {% include "sortbar.html" %}
            <div class="container  text-white mb-2  rounded-lg  " style="background:transparent;border-width:3px !important" >

            <div class="row" id="pagetitle" style="background-color: rgba(10, 0, 0, 0.5);justify-content:center;" >

                <h1>IMDB Top-Rated TV</h1>
                </div>

            </div>


        {% for tv in imdb_Top_Tv %}
                <!-- Main Grid to Display Movies-->
                <div class="container  text-white mb-2 border border-dark rounded-lg  " style="background:transparent;border-width:3px !important" >

                    <div class="row" style="background-color: rgba(10, 0, 0, 0.5);" >

                        <!-- Rank Column -->
                        <div class="col-sm-1 Rank " style="opacity: 1">

                            <h1 class="ml-auto" style="margin-top: 80px;">
                                <span class="badge badge-pill "style="background:rgba(68,255,0,0.5)">


                                {{ tv.rank }}

                                </span>
                            </h1>
                        </div>

                        <!-- Poster Thumbnail Column -->
                            <div class="col-sm-2 Image " style="width: 50%;">

                            <img src="{{ tv.poster_link}}" alt="{{ tv.title }}" class="img-thumbnail">
                        </div>

                        <!-- Title & Description Column-->
                        <div class="col-sm-7 Description ">

                            <!-- Title -->
                                <div class="mt-3 ml-auto border-0 border-danger rounded-lg" style="background:rgba(255,0,0,0.5);">
                                    <h3>
                                    {{ tv.title }}
                                    </h3>
                                </div>

                            <hr/>

                            <!-- Description-->
                            <span>
                                <p1>
                                    {{ tv.description}}
                                </p1>
                            </span>
                        </div>

                            <!--&&&&&&&&&&&&& Rating & other stuff column &&&&&&&&&&-->
                            <div class="col-sm-2 Rating mt-5">
                                 <a href="{{ tv.imdb_url}}" target="_blank">
                                <div class="row">
                                <!-- IMDB LOGO-->

                                <div class="col" style="max-width: 70px">

                                <img  class="img-fluid"  style="width: 35px; height: 20px" src="{% static "images/imdb.png" %}" alt="IMDB"/>
                                </div>

                                <!-- IMDB Rating-->
                                    <div class="col mt-1 mr-5" style="max-width: 50px">

                                    <h6>
                                    <span class="badge-pill badge-secondary badge-warning " >
                                    {{ tv.imdb_rating}}/10
                                    </span>
                                </h6>
                                </div>

                                </div>
                                </a>

                                    <!-- Rotten Rating -->
                                    <div class="row ">
                                <!-- Rotten LOGO-->
                                <div class="col">
{#                                <img  class="img-fluid" style="width: 35px; height: 36px" src="{% static "images/tomato.png" %}" alt="Rotten Tomatoes"/>#}
                                </div>
                                <!-- Rotten Rating-->
                                    <div class="col mt-2 pb-2 ">
{##}
{#                                    <h6>#}
{#                                    <span class="badge-pill badge-danger" >#}
{#                                    {{ movie.rotten_rating}}#}
{#                                    </span>#}
{#                                </h6>#}
                                </div>
                                    </div>

                                <!-- Meta Rating -->
                                    <div class="row ">
                                <!-- Meta LOGO-->
                                 <div class="col ">
{#                                <img  class="img-fluid" style="width: 35px; height: 36px" src="{% static "images/meta.png" %}" alt="Metacritic"/>#}
                                 </div>
                                <!-- Meta Rating-->
                                    <div class="col mt-2 pb-2 ">
{##}
{#                                    <h6>#}
{#                                    <span class="badge-pill badge-success" >#}
{#                                    {{ movie.meta_rating}}#}
{#                                    </span>#}
{#                                </h6>#}
                                </div>
                                    </div>







                                <!-- Watch on Netlfix button -->
                                <div class="row mt-5">
                                    <a  href="{{ tv.netflix_url}}"  target="_blank" class="btn text-white active" role="button" style="background: #a00911">
                                        Watch on Netflix
                                    </a>
                                    </div>
                                    <div class="row ">
                                    <!-- Watch Trailer button -->
                                      <button type="button" class="btn video-btn text-white" data-toggle="modal" style="background: #5d0496"
                                        data-src="{{ tv.trailer_url}}" data-target="#trailerModel">
                                        Watch Trailer
                                      </button>

                                    </div>



                        </div>

                    </div>


                    </div>
                </div>

        {% endfor %}
                                        <!-- Modal for Trailer -->
                                    <div class="modal fade" id="trailerModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content " style="background: rgba(0,0,0,0.25)">
                                          <div class="modal-body " >
                                           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                            <!-- 16:9 aspect ratio -->
                                    <div class="embed-responsive embed-responsive-16by9">
                                      <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay" allowfullscreen></iframe>
                                    </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
    {% endblock content %}
